body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

i {
  cursor: pointer;
}

.sideBox {
  /* background-color: aqua; */
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999999;
  display: flex;
}
.sideBox-content {
  width: 270px;
}
.sideBoxIcons {
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sideBox-content a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 20px;
}

.image {
  position: relative;
  overflow-y: hidden;
  border-radius: 8px;
}

.image img {
  height: 300px;
}

.row {
  cursor: pointer;
}

.food-title {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 300px;
  bottom: 0;
  transition: all 0.5s;
}

.image:hover .food-title {
  position: absolute;
  top: 0;
}

#contact {
  position: absolute;
  top: 30%;
  left: 10%;
}

/* .custom-btn button{

    cursor: not-allowed;
} */

.searchField input::placeholder {
  color: grey;
}

.loader {
  color: #fff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.loading {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999999999999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-search {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999999999999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-category {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999999999999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-area {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999999999999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-ing {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999999999999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-details {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999999999999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .loading-contact{

    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;

  } */

.content {
  padding-left: 40%;
}

.custom-img {
  border-radius: 10px;
  height: 55vh;
}

.error {
  background-color: #f8d7da !important;
}

.alert p {
  color: #a22029 !important;
}
